html {

}
body {
    width: 95%;
    margin: 15px auto;
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed;

}
article {
    width: 75%;

}
aside {
    width: 20%;
    position: fixed;
    list-style-type: ;

}
